<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCancerPiel"
        tools:targetApi="31">
        <activity
            android:name=".ValoracionResultadosActivity"
            android:exported="false" />
        <activity
            android:name=".BiopsiaActivity"
            android:exported="false" />
        <activity
            android:name=".PruebasPendientesActivity"
            android:exported="false" />
        <activity
            android:name=".PruebasDermatologicasActivity"
            android:exported="false" />
        <activity
            android:name=".EleccionDermatologoActivity"
            android:exported="false" />
        <activity
            android:name=".DermatoscopiaActivity"
            android:exported="false" />
        <activity
            android:name=".ExploracionClinicaActivity"
            android:exported="false" />
        <activity
            android:name=".RealizarHistoriaClinicaActivity"
            android:exported="false"
            android:label="@string/title_activity_realizar_historia_clinica"
            android:theme="@style/Theme.AppCancerPiel" />
        <activity
            android:name=".PrimerasPruebasActivity"
            android:exported="false" />
        <activity
            android:name=".DetallePacienteActivity"
            android:exported="false" />
        <activity
            android:name=".DatosPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".HomeDermatologoActivity"
            android:exported="false"
            android:label="@string/title_activity_home_dermatologo"
            android:theme="@style/Theme.AppCancerPiel" />
        <activity
            android:name=".PacienteAdapter"
            android:exported="false" />
        <activity
            android:name=".modelo.Paciente"
            android:exported="false" />
        <activity
            android:name=".HomeMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".TipoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarMedicosActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroPacienteActivity"
            android:exported="true" />
        <activity
            android:name=".ListadoPacientesActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>